<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="dark-mode">
    <h1>Showing Resturants Near {{zip_code}}</h1>
    <form action="/Search_results" method="post">
        <input type="text" name="search" placeholder="Search for resturants">
        <input type="text" name="location" placeholder="Enter city or zip">
        <button type="submit" name="submit-search">Search</button>
    <div class="category-container">
        {% for category, businesses in category_businesses.items() %}
        <div class="category">
            <h2>{{ category }}</h2>
            <div class="business-list">
                {% for business in businesses %}
                <div class="business">
                    <h3>{{ business.name }}</h3>
                    <img src="{{ business.image_url }}" alt="{{ business.name }}"> 
                    <div class="business-details">
                    <p>State: {{ business.state }},<br>City: {{ business.city }},<br>Zip Code: {{ business.zip_code }}</p>
                </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
     
</body>
</html>