{% extends 'base.html' %}

{% block title %}Bookmarks{% endblock %}

{% block content %}
<h1 class="display-4">Here are your bookmarks!</h1>
<p class="lead">Your saved restaurants are here.</p>
<div class="row">
    {% for business in bookmarks %}
    <div class="col-md-4 my-2">
        <div class="card">
            <img src="{{ business.restaurant_image }}" class="card-img-top" alt="{{ business.restaurant_name }}">
            <div class="card-body">
                <h5 class="card-title">{{ business.restaurant_name }}</h5>
                <p class="card-text">{{ business.restaurant_address }}</p>
                <p class="card-text">{{ business.restaurant_phone }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
